In [1]:
#probability of getting 3 when a die is rolled
ns=6#n(S) = {1,2,3,4,5,6}
na=1#n(A)={3}
pa=na/ns#P(A)
print("probability of getting 3 when a die is rolled is:",pa)

probability of getting 3 when a die is rolled is: 0.16666666666666666

In [2]:
#probability of getting atkleast one head when a coin is tossed thrice.
ns=8 #n(s)={HHH,HHT,HTT,TTT,HTH,THH,THT,TTH}
na=7#n(a)={HHT,HTT,TTT,HTH,THH,THT,TTH}
pa=na/ns
print("The probability of getting atleast one head when a coin is tossed thrice is:",pa)

The probability of getting atleast one head when a coin is tossed thrice is: 0.875

In [3]:
#A glass jar contains 5 red and 3 blues and 2 green jelly beans.
#If a jelly bean is choosen at random from jar
#What is the probability that it is not blue?
ns=10#n(S)={R,R,R,R,B,B,B,G,G}
na=7
pa=na/ns
print("Probability getting blue is:",pa)

Probability getting blue is: 0.7

In [4]:
#If the probability that A person A will be alive in 20 yaers
#is 0.7 and the probability that B person will be alive in 20 years is 0.5
#what is the probability that they will both be alive in 20 yaers?
p=0.7*0.5
print("Probability that they both will be alive in 20 years : ",p)

Probability that they both will be alive in 20 years :  0.35

In [5]:
def event_probability(n,s):
    return n/s

In [6]:
# A fair die is tossed twic . find the probability of getting a 4 or 5 on the first toss and
#a 1,2 or 3 in the second
pa = event_probability(2,6)
pb=event_probability(3,6)
p=pa*pb
print("Probability of getting  4 or 5 in the first toss and 1,2 or 3 on the second toss is:",p)

Probability of getting  4 or 5 in the first toss and 1,2 or 3 on the second toss is: 0.16666666666666666

In [7]:
# A bag contains 5 white marbles, 3 black marbles and 2 green marbles.
# In each draw, a marble is drawn from the bag and not replaced .
# In three draws, find probability of obtaining white , black and green in order.
pa = event_probability(5,10)
pb = event_probability(3,9)
pc = event_probability(2,8)
p = pa*pb*pc
print("Probability of getting white,black,green in order : ",p)

Probability of getting white,black,green in order :  0.041666666666666664

In [8]:
#Sample space
cards=52
#Calculate the probability of drawing a heart of club
hearts=13
clubs=13
heart_or_club=event_probability(hearts,cards)+event_probability(clubs,cards)
print(heart_or_club)

0.5

In [9]:
#Calculate the probability of drawing on ace,queen or king
cards=52 #sample space
ace=4 
queen=4 
king=4 
ace_queen_or_king = event_probability(ace,cards)+event_probability(queen,cards)+event_probability(king,cards)
print("Probability of drawing a ace,queen or king:",ace_queen_or_king)

Probability of drawing a ace,queen or king: 0.23076923076923078

In [10]:
#Calculate the probability of drawing a heart or an ace
cards=52 #sample space
hearts=13
ace=4 
ace_of_hearts=1
hearts_or_aces=event_probability(hearts,cards)+event_probability(ace,cards)-event_probability(ace_of_hearts,cards)
print("Probability of getting a heart or an ace:",round(hearts_or_aces,2))

Probability of getting a heart or an ace: 0.31

In [11]:
#Calculate the probability of drawing  red cards or face cards
cards=52
red=26
face_cards=12
red_face_cards=6
red_cards_or_face_cards=event_probability(red,cards)+event_probability(face_cards,cards)-event_probability(red_face_cards,cards)
print("Probability of drawing  red cards or face cards :",round(red_cards_or_face_cards,2))

Probability of drawing  red cards or face cards : 0.62

In [12]:
#Probabaility of not getting a fair die is rolled
ns=6
na=1
pa=na/ns
print("Probabaility of not getting a fair die is rolled is:",round(1-pa,2))

Probabaility of not getting a fair die is rolled is: 0.83

In [13]:
#Suppose you draw 2 cards from deck.
#YOU win if you get ace given that you draw a jack in frist draw.
cards=52
jacks=4 
aces=4 
pj=event_probability(jacks,52)
pa=event_probability(aces,51)
pa_given_jack=(pj*pa)/pj
print("Probabilty of winning is:",round(pa_given_jack,4))

Probabilty of winning is: 0.0784

In [14]:
import pandas as pd 
import numpy as np
df =pd.read_csv("Desktop/Gautham/student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [15]:
len(df)

395

In [16]:
df["grade_A"]=np.where(df["G3"]*5 >=80,1,0)

In [17]:
df["high_absenses"]=np.where(df["absences"]>=10,1,0)

In [18]:
df["count"]=1

In [19]:
df=df[["grade_A","high_absenses","count"]]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [20]:
final=pd.pivot_table(
df,
values="count",
index=["grade_A"],
columns=["high_absenses"],
aggfunc=np.size,
fill_value=0 )

In [21]:
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5

In [27]:
pa=(final.iloc[1,0]+final.iloc[1,1])/(final.iloc[0,0]+final.iloc[0,1]+final.iloc[1,0]+final.iloc[1,1])
pa

0.10126582278481013

In [29]:
pb=(final.iloc[0,1]+final.iloc[1,1])/(final.iloc[0,0]+final.iloc[0,1]+final.iloc[1,0]+final.iloc[1,1])

pb

0.21012658227848102

In [31]:
pa_or_pb=(final.iloc[1,1])/(final.iloc[0,0]+final.iloc[0,1]+final.iloc[1,0]+final.iloc[1,1])
pa_or_pb

0.012658227848101266

In [32]:
A_given_B=pa_or_pb/pb
A_given_B

0.060240963855421686

In [37]:
print("The probability of student getting at least an A(80%+)final grade,given missing 10 or more class is
      :",
      round(A_given_B,2))

The probability of student getting at least an A(80%+)final grade,given missing 10 or more class is: 0.06